

* {
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center;
}




/* Header */

.logo {
   height: 50px;
   float: left;
   padding-left: 10px;
}

nav {
   float:right;
}

/* Mission Section */

/* Tea of the Month Section */

.images {
    height: 200px;
    width: 300px;
 
}

/* Location Section */

/* Footer */