

* {
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    background-color: black;
    text-align: center;
}




/* Header */

.logo {
   
}

nav {
   
}

/* Mission Section */

/* Tea of the Month Section */

.images {
    height: 200px;
    width: 300px;
 
}

/* Location Section */

/* Footer */