* {
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    background-color: black;
    text-align: center;
}




/* Header */

header {
    /* position: fixed; */
    width: 100%;
    border-bottom: 1px solid seashell;
    height: 69px;
    position: fixed;
}

.nav {
    float: right;
    padding-right: 20px;
}

.logo {
   height: 50px;
   float: left;
   padding-left: 10px;
}


/* Mission Section */
main {
    /* position: relative; */
    
}

.mission {
    /* position: absolute; */
    align-items: center;
    /* opacity: 0.9; */
    height: 700px;
    width: 1200px;

} 

.mission-container {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -95%); 
    width:1200px;
    
}
/* Tea of the Month Section */
.tea-images {
    width: 1000px;
    
}
.blitz {
    height: 200px;
    width: 300px;
}
.spiced {
    height: 200px;
    width: 300px;
}
.donut {
    height: 200px;
    width: 300px;
}
.myrtle {
    height: 200px;
    width: 300px;
}
.bizarre {
    height: 200px;
    width: 300px;
}
/* Location Section */

/* Footer */
footer {
    height: 200px;
}

.copyright {
    text-align: left;
    padding-left: 20px;
}